!!!
html(lang="en")
    head
        title Concept Canvas Application
        link(rel="stylesheet", type="text/css", href="/css/picboard.css")
        script(type="text/javascript", src="/js/jquery-min.js")
        script(type="text/javascript", src="/js/fabric.min.js")
    body
        h1
            i.icon-beaker
            span Concept Canvas Application
        p View page source to see required resources being served

        div#container
            h2 Whats next
            p The actual front end
            ul
                li Add Canvas and Image library
                li Place image onto canvas
                li Drag image to reposition
                li Controls for bring to front/send to back
        
        h2
            i.icon-thumbs-up
            span Happy so far?
        p.
            If you happy with the first part, please leave some feedback on my gig. Then we will have a catchup and start looking at the next stages
            which will be more involved.

        a(href="http://fiverr.com/hendore/write-advise-or-fix-your-php-nodejs-html5-css3")
            div#btn-view-gig
                i.icon-tags
                span Visit My Gig